body {
    margin: 0;
    font-family: 'Lato', 'Sen', sans-serif;
}

.h1_text {
    text-align: center;
    position: relative;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.home_background_image {
    background-image: url('trainstation.jpg');
    background-color: #cccccc;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.skate_background_image {
    background-image: url('skate_cellar.jpg');
    background-color: #cccccc;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.buttons {
    transform: translate(-0%, +75%);
    background-color: #41b3a3;
    color: white;
    border: 2px solid #41b3a3;
    padding: 48px 96px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    margin: 2px 2px;
    transition-duration: 0.4s;
}

.buttons:hover {
    background-color: #85DCB0;
    color: #E8A87C;
}

.oddbuttons {
    transform: translate(-0%, +215%);
}
